#banner{
	width: 100%;
	position: relative;
}
#logo{
	width: 20%;
	position: absolute;
}
#menu{
	width: 5%;
	position: relative;
}
#signin{
	width: 5%;
	position: relative;
}
body{
	font-family: 'Pacifico', cursive;
}

h1{
	position: absolute;
	border: 4px solid gold;
	background-color: gold;
}
h2{
	font-family: 'Sigmar One', cursive;
	position: relative;
}

#ordered {
	font-family: 'Zen Tokyo Zoo', cursive;
}
*{
	margin: 0;
	padding: 0;
}
#topBanner{
	display: flex;
}